
.work{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10%;
    grid-row-gap: 100px;
    grid-column-gap: 20px;
}


.section_six{
    background-color: rgb(255, 255, 255);
}

.section_six img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 2%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #616161;
    border-radius: 2%;
  }

.card{
    position: relative;
}

.card:hover .overlay {
    opacity: 1;
}

.info {
    position: absolute;
    font-weight: 700px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.info :is(p, h2, a){
    color: rgb(255, 255, 255);
}

.info a{
    text-decoration: underline;
}


/* responsive**************************************************************************************************************** */

@media all and (max-width:834px){
    .work{
        display: grid;
        grid-template-columns: auto auto;
        padding: 10%;
        grid-row-gap: 50px;
        grid-column-gap: 20px;
    }
}

@media all and (max-width:428px) {
    .work{
        display: grid;
        grid-template-columns: auto;
        padding: 10%;
        grid-row-gap: 30px;
        grid-column-gap: 20px;
    }

    .work:first-child{
        padding-top: 20%;
    }
}
